@import "../../src/components/PokemonCard/styles.module.scss";

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #4a5291;
    background-image: url("https://i.pinimg.com/originals/f6/a1/8a/f6a18ac56651ce4f9ca7e0230706a0b6.png");
    background-attachment: fixed;
    background-size: cover;
}

:root{
    --header-color:#00000088;
    --background-color: #000000;
}

.fire{ 
    background-color: #ff7b6a;
    background-image: linear-gradient(to right, #ff7b6a, #c23a29);
}

.water{
    background-color: #96d3d2;
    background-image: linear-gradient(to right, #96d3d2, #4a8685);
}
.ground{ 
    background-color:#f4e7da;
    background-image: linear-gradient(to right, #66594c, #a18c76);

}
.grass{
    background-color: #71af6e;
    background-image: linear-gradient(to right, #71af6e, #4a7c47);
}
.electric{
    background-color:#f6e652;
    background-image: linear-gradient(to right, #f6e652, #a89808);
    
}
.rock{
    background-color: #524749;
    background-image: linear-gradient(to right, #524749,#161112);

}
.fairy{
    background-color: #fbaedd;
    background-image: linear-gradient(to right, #fbaedd,#c2649e);

}
.poison{
    background-color:#a584c6;
    background-image: linear-gradient(to right, #a584c6,#63477e);
}
.bug{ 
    background-color:#3fc1b2;
    background-image: linear-gradient(to right, #3fc1b2,#3b7971);
}
.dragon{
    background-color:#ce9c10;
    background-image: linear-gradient(to right,#ce9c10,#686d4f);
}
.flying{
    background-color:#f7e77b;
    background-image: linear-gradient(to right,#77554b,#3f2d27);
}

.psychic{
    background-color:#9457d1;
    background-image: linear-gradient(to right,#9457d1,#3b195c);
}

.normal{
    background-color:#77554b;
    background-image: linear-gradient(to right,#77554b,#3f2d27);

}

.fighting{
    background-color:#5991c2;
    background-image: linear-gradient(to right, #7c8d9c,#28486d);
}

.ghost{
    background-color:#7a4e94;
    background-image: linear-gradient(to right, #7a4e94,#40286d);
}

.ice{
    background-color:#28486d;
    background-image: linear-gradient(to right, #91dfe9,#28486d);
}