.cardPokemonContainer{
    width:100%;
    height:auto;
    justify-content: center;
    display:flex;
    margin-top:10px;
    padding: 2rem 0.5rem;
    align-items: center;
    flex-direction:column;
}

.geralContainer{
    width:90%;
    display:flex;
}

