.cardPokemonContainer{
    width:100%;
    height:auto;
    justify-content: center;
    display:flex;
    margin-top:10px;
    padding: 2rem 0.5rem;
    align-items: center;
    gap:1.5rem;
    flex-wrap: wrap;

    .geralContainer{
        width:auto;
        display:flex;
        flex-direction:row;
    }
}



