.cardPokemonContainer{
    width:100%;
    height:auto;
    justify-content: center;
    display:flex;
    margin-top:30px;
}

.cardPokemon{
    width:250px;
    height:350px;
    display:flex;
    background-color:blue;
    border-radius:10px;
    flex-direction: column;
}

.informationPokemon{
    display:flex;
    justify-content:space-between;
    width:230px;
    margin:10px;
    flex-direction: row;
    text-align: center;
}

.imageNamePokemon{
    display:flex;
    width:100%;
    background-color:yellow;
    height:auto;
    flex-direction: column;
    justify-content:center;
    align-items: center;

    img{
        width:40%; 
        justify-content:center;
        display:flex;
        align-items:center;
    }

}